<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <h2 class="mt-3">Edit Listing</h2>
            <form method="post" action="/listings/<%= listing._id %>?_method=PUT"  id="uploadForm" class="needs-validation" novalidate enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input id="title" value="<%= listing.title %>" name="listing[title]" class="form-control" required>
                    <div class="invalid-feedback">Please enter a title</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea id="description" name="listing[description]" class="form-control"  required> <%= listing.description %> </textarea>
                    <div class="invalid-feedback">Please enter a short description</div>
                </div>
                <div class="mb-3">
                    Original listing image<br>
                    <img src="<%= originalImageUrl %>" class="card-img-top edit-img" alt="listing_image">
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Update image</label>
                    <input type="file" id="image" name="listing[image]" class="form-control" accept=".jpg, .jpeg, .png">
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input id="location" value="<%= listing.location %>" name="listing[location]" class="form-control"  required>
                    <div class="invalid-feedback">Location should be valid</div>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input id="price" value="<%= listing.price %>" name="listing[price]" type="number" class="form-control"  required>
                        <div class="invalid-feedback">Price should be valid!</div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input id="country" value="<%= listing.country %>" name="listing[country]" class="form-control"  required>
                        <div class="invalid-feedback">Country name should be valid!</div>
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-dark add-btn">Update</button>
                </div>
            </form>
        </div>
    </div>
</body>